{% extends "base.html" %}

{% block content %}

<p>

<a class="button" href="{{ url_for('new_card') }}">
New Card
</a>

</p>

{% for card in cards %}

<div class="card">

<strong>{{ card.front }}</strong>

<p>
<label class="remembered-field">
  <input type="checkbox"
         class="remembered-checkbox"
         data-card-id="{{ card.id }}"
         {% if card.remembered %}checked{% endif %}>
  Remembered
</label>
</p>

<p>

<a href="{{ url_for('edit_card', card_id=card.id) }}">
Edit
</a>

|

<a href="{{ url_for('delete_card', card_id=card.id) }}">
Delete
</a>

</p>

</div>

{% endfor %}

{% endblock %}
